*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(243, 146, 146);
}

.heading{
    margin-bottom: 4px;
    padding-bottom:20px ;
}

.container{
    background-color: rgb(121, 239, 239);
    text-align: center;
}
.buttons , .button1{
    text-align: center;
}

.btn{
    height: auto;
    width: 600px;
    margin: 4px;
}

div >.name{
    margin-top: 6px;
    text-align: center;
    align-items: end;
    
}